h2 {
  line-height: 32px;
  font-weight: 500;
  color: #353535;
  float: left;
  margin-bottom: 4px
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
  margin-top: 48px; 

  h2 {
    line-height: 32px;
    font-weight: 500;
    color: #353535;
  } 
}

.register {
  display: flex;
  flex-direction: row;
}

a.register-link, a.reset-password {
  text-decoration: underline;
  color: #353535;
  font-weight: 500;
}

.ui.grey.button {
  float: left;
  margin-top: 25px;
}

.ui.form {
  width: 100%;
  margin-bottom: 75px;
}

.reset-password {
  float: left;
  margin-top: 16px;
}

.login-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
