.linked-header{
    text-decoration: underline;
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.file-icon-pair{
    justify-content: center;
}

.margin-none {
    margin: 0;
}


.icon-button {
    background: none;
    outline: none;
}

/* add custom variables */
/* variables are imported in the application's base css file and are available here */
.button.affirm {
    background-color: var(--reassure-color);
    color: var(--light-text);
}

/* Keep adding classes until specificity is higher than Semantic's 
The easiest way to get the full list of classes is to run the application and 
inspect it with developer tools */
/* Use !important when Semantic uses !important because two can play that game */
.basic.button.revert {
    color: var(--dark-text) !important;
}
