// .filters-container {
//   .ui.icon.input {
//     width: 250px;
//   }

//   .mapboxgl-ctrl-group {
//     background: initial;
//     &:not(:empty) {
//       box-shadow: none;
//     }
//     & > button {
//       background-color: #fff;
//     }
//   }
// }
