.map-view-container {
    height: 75vh;
    border-style: solid;
    border-width: 0.1rem;
}

.navigation-control {
    position: absolute;
    top: 10px;
    right: 10px;
}

 .hovertip {
    position: absolute;
    margin: 8px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    max-width: 300px;
    font-size: 10px;
    z-index: 9;
    pointer-events: none;
}