.mapColumns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.mapBoxColumn {
  width: 55%;
  margin: 0;
}

div.mapBoxSquare {
  width: 100%;
  padding-bottom: 100%;
  background: gold; /** <-- For the demo **/
  position: relative;
  margin: 0;
}

div.mapBoxSquare > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
}

div.mapMenuColumn {
  width: 35%;
  margin: 0;
  position: relative;
}