.ui.warning.message {
  position: absolute;
  bottom: 12px;
}

/* include "button" selector so other month dates are excluded
 * (.clndr-cell-other-month seems not to be working; those spans
 * don't have that class)
 */
button.clndr-cell {
  background-color: lightblue;
  border-radius: 50%;
  opacity: 1;
}

button.clndr-cell:hover {
  background-color: azure;
}

/* include "button" and "disabled" selectors to override "hover" above */
button.clndr-cell-disabled:disabled {
  background-color: white;
  color: black;
  border-radius: 0;
}

/* include "button" selector to override above */
button.clndr-cell-selected {
  background-color: royalblue;
  color: white;
}

/* the `div` selector is needed for the production build, in
 * which certain semantic-ui-react-datepicker styles are duplicated
 * in a <style> tag that overrides this css.
 */
div.clndr-days {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid white; /* hack to get rid of border */
}