<!-- Document that this is not the Final UI. The object of the PR is meant to get the files uploaded into the data. 
	The Drag and Drop functionality is a temporary hack to demonstrate feasibility -->
{% extends '__base.html' %}
{% block content %}
<div class="grid-container large-offset-1">
	<div class="grid-x">
		<div class="cell medium-6"><h2>Upload your files</h2></div>
	</div>
	<div class="grid-x">
			<div class="cell medium-6">
			  <p>Below are two fields to upload files. The first field is for the Dustrak file. The second is for the GPS file.
				You can add files by clicking the buttons below, or dragging files to their associated field.
			  </p>
			</div>
		  </div>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="grid-x">
			<div class="cell medium-4">
				<label for="{{ form.upload.id_upload }}">Dustrak:</label>
			</div>
		</div>
		<div class="grid-x">
			{{form.upload}}
		</div>
		<div class="grid-x">
				<div class="cell medium-4">
					<label for="{{ form.upload_gps.id_upload_gps }}">GPS:</label>
				</div>
			</div>
		<div class="grid-x">
			{{form.upload_gps}}
		</div>
		<button class="button" type="submit">Submit</button>
	</form>
</div>
{% endblock %}
