<footer>
    <div class="link-container">
        <a class="open-oakland-link" title="https://openoakland.org/" href="https://openoakland.org">
            <span>OpenOakland home page</span>
        </a>
        <a class="email-link" title="woaq@openoakland.org" href="mailto:woaq@openoakland.org">
            <span>Contact email</span>
        </a>
        <a class="github-link" title="https://github.com/openoakland/woeip" href="https://github.com/openoakland/woeip">
            <span>WOEIP GitHub Repository</span>
        </a>
        <a class="woeip-link" title="http://www.woeip.org/" href="http://www.woeip.org/">
            <span>WOEIP home page</span>
        </a>
    </div>
</footer>