<footer>
    <a class="open-oakland-link" title="Open oakland home page" href="https://openoakland.org">
        <span>OpenOakland</span>
    </a>
    <a class="email-link" title="WOAQ email account" href="mailto:woaq@openoakland.org">
        <span>woaq@openoakland.org</span>
    </a>
    <a class="github-link" title="WOAQ GitHub account" href="https://github.com/openoakland/woeip">
        <span>WOAQ on GitHub</span>
    </a>
    <a class="woeip-link" title="WOEIP home page" href="http://www.woeip.org/">
        <span>WOEIP home</span>
    </a>
</footer>