<div class="top-bar" data-responsive-toggle="site-menu" data-hide-for="medium">
  <div class="menu-text"><a href="{% url 'index' %}">West Oakland Air Quality</a></div>
  <button class="menu-icon" type="button" data-toggle></button>
</div>

<div class="top-bar" id="site-menu">
    <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
      <li class="menu-text show-for-medium"><a href="{% url 'index' %}">West Oakland Air Quality</a></li>
    </ul>
    <ul class="dropdown vertical medium-horizontal menu" >
      <li><a href="{% url 'upload' %}">Add Data</a></li>
      <li>
          {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Logout</a>
          {% else %}
              <a href="{% url 'login' %}">Login</a>
          {% endif %}
      </li>

    </ul>
</div>

