.app-container {
    min-height: 100%;
    display: grid !important;
    grid-template-rows: auto 1fr auto;
}

.hovertip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}