html{
    /* 1rem is 10px on default browser setting */
    font-size: 62.5%;
}

html, body, #root, .app-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
